.login {
  width: 300px;
  margin: 100px auto;
}

.login input {
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.login .err{
  color: #aa0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login .message {
  color: #00aa00;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
