.register {
  width: 300px;
  margin: 100px auto;
}

.register input {
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.register .err{
  color: #aa0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.register .big-err{
  color: #aa0000;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.register .back{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
